go 1.25.7

use (
	./apps/plugin
	./sdks/go
	./sdks/go-frameworks/google-adk
	./sdks/go-providers/anthropic
	./sdks/go-providers/gemini
	./sdks/go-providers/openai
	./sdks/go/cmd/devex-emitter
	./sigil
)
