{
  "extends": ["@grafana/eslint-config"],
  "root": true,
  "rules": {
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": ["src/**/*.{ts,tsx}"],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    },
    {
      "files": ["./tests/**/*"],
      "rules": {
        "react-hooks/rules-of-hooks": "off"
      }
    }
  ]
}
